.divider{
    border-bottom: 2px solid;
    border-color: rgb(155, 155, 155);
    margin-bottom: 10px;
    padding-bottom: 0;
    margin-top: 20px;
}
body{
    background-color: rgb(187, 187, 187);
}
#cara{
    position: absolute;
    top: 102%;

}
li.active{
    border: solid 2px !important;
    border-color:purple !important;
    margin-top: 8px;
    height: 1px;
   
}
.box{
    height: 5vh;
}